# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [ ]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [6]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

# Your code here:
print(f"Shape: {df.shape}")

Loading diamonds dataset...
Dataset loaded successfully!
Shape: (6000, 8)

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [7]:
# Your code here:
print(f"Columns: {df.columns}")
df.head()

Columns: ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price']

shape: (5, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 1.1          ┆ Ideal ┆ H     ┆ SI1     ┆ VG     ┆ EX       ┆ GIA    ┆ 5169  │
│ 0.83         ┆ Ideal ┆ H     ┆ VS1     ┆ ID     ┆ ID       ┆ AGSL   ┆ 3470  │
│ 0.85         ┆ Ideal ┆ H     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3183  │
│ 0.91         ┆ Ideal ┆ E     ┆ SI1     ┆ VG     ┆ VG       ┆ GIA    ┆ 4370  │
│ 0.83         ┆ Ideal ┆ G     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3171  │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms: A diamond with its own characteristics

:**Your answer:** Each row represents:

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [16]:
# Your code here:
total_carats = df["Carat Weight"].sum()
total_carats

8007.120000000001

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [41]:
# Your code here:

unique_cuts = df["Cut"].unique()
unique_cuts_types = df["Cut"].n_unique()
unique_cuts,unique_cuts_types

(shape: (5,)
 Series: 'Cut' [str]
 [
 	"Very Good"
 	"Signature-Ideal"
 	"Fair"
 	"Ideal"
 	"Good"
 ],
 5)

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [43]:
# Your code here:
max_price = df["Price"].max()
min_price = df["Price"].min()

print(f"Most valuable diamond price: ${max_price:,.2f}")
print(f"Least valuable diamond price: ${min_price:,.2f}")

Most valuable diamond price: $101,561.00
Least valuable diamond price: $2,184.00

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [47]:
# Your code here:

avg_price_by_color = (
    df.group_by("Color")
      .agg(pl.col("Price").mean().alias("avg_price"))
      .sort("avg_price", descending=True)
      )

avg_price_by_color

shape: (6, 2)
┌───────┬──────────────┐
│ Color ┆ avg_price    │
│ ---   ┆ ---          │
│ str   ┆ f64          │
╞═══════╪══════════════╡
│ D     ┆ 15255.783661 │
│ F     ┆ 12712.241856 │
│ G     ┆ 12520.050633 │
│ E     ┆ 11539.190231 │
│ H     ┆ 10487.347544 │
│ I     ┆ 8989.636364  │
└───────┴──────────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain =  Now it represents a category. The average price from the grouped diamonds of a specific color.

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [48]:
# Your code here:

clarity_breakdown = (
    df.group_by("Clarity")
      .agg(
          pl.len().alias("num_diamonds"),
          pl.col("Price").mean().alias("avg_price"),
          pl.col("Carat Weight").sum().alias("total_carats")).sort("Clarity")
)
clarity_breakdown

shape: (7, 4)
┌─────────┬──────────────┬──────────────┬──────────────┐
│ Clarity ┆ num_diamonds ┆ avg_price    ┆ total_carats │
│ ---     ┆ ---          ┆ ---          ┆ ---          │
│ str     ┆ u32          ┆ f64          ┆ f64          │
╞═════════╪══════════════╪══════════════╪══════════════╡
│ FL      ┆ 4            ┆ 63776.0      ┆ 7.87         │
│ IF      ┆ 219          ┆ 22105.844749 ┆ 316.0        │
│ SI1     ┆ 2059         ┆ 8018.864012  ┆ 2563.69      │
│ VS1     ┆ 1192         ┆ 13694.113255 ┆ 1682.74      │
│ VS2     ┆ 1575         ┆ 11809.053333 ┆ 2170.81      │
│ VVS1    ┆ 285          ┆ 16845.680702 ┆ 389.43       │
│ VVS2    ┆ 666          ┆ 14142.177177 ┆ 876.58       │
└─────────┴──────────────┴──────────────┴──────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [53]:
# Your code here:

pricing_structure = (
    df.group_by(["Cut", "Color"])
      .agg(
          pl.col("Price").mean().alias("avg_price"))
)
pricing_structure

shape: (30, 3)
┌─────────────────┬───────┬──────────────┐
│ Cut             ┆ Color ┆ avg_price    │
│ ---             ┆ ---   ┆ ---          │
│ str             ┆ str   ┆ f64          │
╞═════════════════╪═══════╪══════════════╡
│ Good            ┆ D     ┆ 10058.716216 │
│ Good            ┆ I     ┆ 8174.113043  │
│ Signature-Ideal ┆ F     ┆ 13247.947368 │
│ Very Good       ┆ I     ┆ 8930.031332  │
│ Fair            ┆ F     ┆ 6063.625     │
│ …               ┆ …     ┆ …            │
│ Ideal           ┆ I     ┆ 9459.588378  │
│ Ideal           ┆ F     ┆ 14729.426997 │
│ Very Good       ┆ E     ┆ 12101.910217 │
│ Signature-Ideal ┆ I     ┆ 8823.463415  │
│ Very Good       ┆ H     ┆ 10056.106132 │
└─────────────────┴───────┴──────────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain =

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [54]:
# Your code here:

top_segments = (
    df.group_by(["Color", "Cut"])
      .agg(
          pl.col("Price").sum().alias("total_value"),
          pl.len().alias("num_diamonds")
      )
      .sort("total_value", descending=True)
      .head(5)
)

top_segments

shape: (5, 4)
┌───────┬───────────┬─────────────┬──────────────┐
│ Color ┆ Cut       ┆ total_value ┆ num_diamonds │
│ ---   ┆ ---       ┆ ---         ┆ ---          │
│ str   ┆ str       ┆ i64         ┆ u32          │
╞═══════╪═══════════╪═════════════╪══════════════╡
│ G     ┆ Ideal     ┆ 9363514     ┆ 690          │
│ G     ┆ Very Good ┆ 7140620     ┆ 578          │
│ F     ┆ Very Good ┆ 5648327     ┆ 455          │
│ F     ┆ Ideal     ┆ 5346782     ┆ 363          │
│ H     ┆ Ideal     ┆ 5279687     ┆ 458          │
└───────┴───────────┴─────────────┴──────────────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use